{% extends "layout.html" %}

{% block content %}
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src ="/static/images/snake.jpg"  alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Python is a great language for data science and web aplication but you can also do desktop aplications with tkinter.</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src ="/static/images/java.jpg"  alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Java its no so easy to learn but its great to undertand OOP and MVC </p>
    </div>
  </div>

{% endblock %}